{% extends 'Users/base.html' %}

{% block content %}

    <div class="container my-5">

        <!-- Section -->
        <section>
          <h3 class="font-weight-normal text-center dark-grey-text pb-2 display-4"><strong>Login</strong></h3>
          <hr class="w-header my-4">
              
          <!--First row-->
          <div class="row d-flex justify-content-center">
      
            <!--First column-->
            <div class="col-6">
              
              <!-- Material outline input -->
              <div class="md-form md-outline form-lg">
                <input type="text" id="form2" class="form-control form-control-lg">
                <label for="form2">Email</label>
              </div>
              
              <!-- Material outline input -->
              <div class="md-form md-outline form-lg">
                <input type="text" id="form3" class="form-control form-control-lg">
                <label for="form3">Password</label>
              </div>
              
              <button class="btn btn-block btn-primary btn-lg">Login</button>
      
            </div>
            <!--First column-->
      
          </div>
          <!--First row-->
      
        </section>
        <!-- Section -->
      
    </div>
{% endblock %}