{% extends 'Users/base.html' %}

{% block content %}
    
    {% if user.is_authenticated %}
        {% comment %} Show Profile of Logged User {% endcomment %}
        <h1>You have successfully Logged In!</h1>
    {% else %}
        <h2 style="margin-top: 10px;">Please Login/SignUp First</h2>
        <br>
        <button type="button" class="btn btn-outline-primary waves-effect"><a class="nav-link" href="{% url 'Users:login' %}">Login</a></button>
        <button type="button" class="btn btn-outline-primary waves-effect"><a class="nav-link" href="{% url 'Users:signup' %}">SignUp</a></button>
    {% endif %}

{% endblock %}