{% extends 'Users/base.html' %}

{% block content %}

    <div class="container my-5">

        <!-- Section -->
        <section>
      
          <h3 class="font-weight-normal text-center dark-grey-text pb-2 display-4"><strong>SignUpHere</strong></h3>
          <hr class="w-header my-4">        
          <!--First row-->
          <div class="row d-flex justify-content-center">
      
            <!--First column-->
            <div class="col-6">
              {% load crispy_forms_tags %}
                    <form action="" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      {{ form|crispy }}
                      {{ profile_form|crispy }}
                      <input type="submit" class="btn btn-default btn-lg" value="Signup">
                    </form>
              {% comment %} <form method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              {{ profile_form.as_p }}
              <button class="btn btn-block btn-primary btn-lg">Sign up</button>
              </form> {% endcomment %}
      
            </div>
            <!--First column-->
      
          </div>
          <!--First row-->

        </section>
        <!-- Section -->
 
    </div>

{% endblock %}

